<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:app.properties"/>

    <bean id="personService" class="ru.otus.homework1.service.PersonServiceImpl">
    </bean>

    <bean id="questionDao" class="ru.otus.homework1.dao.QuestionDaoImpl">
        <constructor-arg value="${filename}"/>
    </bean>

    <bean id="questionService" class="ru.otus.homework1.service.QuestionServiceImpl">
        <constructor-arg name="questionDao" ref="questionDao"/>
    </bean>

    <bean id="testingService" class="ru.otus.homework1.service.TestingServiceImpl">
        <constructor-arg name="ioService" ref="ioService"/>
    </bean>

    <bean id="ioService" class="ru.otus.homework1.service.IOServiceImpl"/>

    <bean id="runnerService" class="ru.otus.homework1.service.RunnerServiceImpl">
        <constructor-arg name="personService" ref="personService"/>
        <constructor-arg name="questionService" ref="questionService"/>
        <constructor-arg name="testingService" ref="testingService"/>
        <constructor-arg name="ioService" ref="ioService"/>
    </bean>

</beans>