<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New book</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
<body>
<div class="container mt-5">
    <h1 class="h1" th:if="${book.id}">Edit book</h1>
    <h1 class="h1" th:unless="${book.id}">New book</h1>
    <form action="#" method="post" th:action="@{/addbook}" th:object="${book}">
        <input th:field="*{id}" type="hidden">
        <div class="form-group">
            <label for="title">Наименование книги</label>
            <input class="form-control" id="title" th:field="*{title}" type="text">
        </div>
        <div class="form-group">
            <label for="authorName">Имя автора</label>
            <input class="form-control" id="authorName" th:field="*{author.name}" type="text">
        </div>
        <div class="form-group">
            <label for="genreName">Жанр</label>
            <input class="form-control" id="genreName" th:field="*{genre.name}" type="text">
        </div>

        <button>Сохранить</button>
    </form>

</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>