<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New book</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body>
<div class="container mt-5">
    <h1 class="h1">New book</h1>
    <form action="#" th:action="@{/addbook}" method="post">
        <div class="form-group">
            <label for="title">Наименование книги</label>
            <input class="form-control" type ="text" id="title" name="title" th:value="${title}">
        </div>
        <div class="form-group">
            <label for="authorName">Имя автора</label>
            <input class="form-control" type = "text" id="authorName" name="authorName" th:value="${authorName}">
        </div>
        <div class="form-group">
            <label for="genreName">Жанр</label>
            <input class="form-control" type ="text" id="genreName" name="genreName" th:value="${genreName}">
        </div>

        <button>Сохранить</button>
    </form>

</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>